#!/bin/sh

export HUBOT_SLACK_TOKEN=<Your token>
export HUBOT_SLACK_TEAM=<Your team name>
export HUBOT_SLACK_BOTNAME=<Your bot name>

forever start -c coffee node_modules/.bin/hubot --adapter slack --name <Your bot name>
